@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}



:root {
    --text-color: #ffffff;
    --navbar: #1b0d2b;
    --bodycolor: #0f0618;
}

.flex {
    display: flex;
}

.padding {
    padding: 20px;
}

body {
    background-color: var(--bodycolor);
}

h1,
h3,

p,
li {
    color: var(--text-color);
}

h1 {
    text-shadow: 1px 1px 20px #1143af;
}

.container img {
    width: auto;
    height: 300px;
    margin-left: auto;
    filter: drop-shadow(1px 16px 26px #1eaee880);
}

.container,
.section,
.reverse-for-850,
.section2 {
    line-height: 1.5;
    gap: 20px;

}

.container,
.reverse-for-850,
.section2 {
    align-items: center;
}

p,
li {
    line-height: 2;
}

.let-make-something-amazing img {
    height: auto;
    filter: drop-shadow(1px 16px 26px #1eaee880);
    width: 25px;
    vertical-align: middle;
}

footer {
    justify-content: center;
}

@media (max-width: 1106px) {
    .section {
        flex-direction: column;
    }

    .section2 {
        flex-direction: column;
    }


}

@media (max-width:850px) {
    .container {

        flex-direction: column;

    }

    .reverse-for-850 {
        flex-direction: column-reverse;
    }

    .reverse-for-850 img {
        width: auto;
        height: auto;
        margin-right: auto;
    }
}

@media (max-width:539px) {

    .reverse-for-850 img {
        width: auto;
        height: 313px;
    }

}

@media (max-width:378px) {

    .reverse-for-850 img {
        width: auto;
        height: 240px;
    }
}

@media (max-width:298px) {


    .reverse-for-850 img {
        width: auto;
        height: 180px;
    }
}