@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Ubuntu", sans-serif;
}

:root {
    --text-color: #ffffff;
    --navbar: #1b0d2b;
    --bodycolor: #0f0618;
}
p, h1, h2, h3, h4, h5, h6, span, img , ul, li {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInDown 1.2s ease-out forwards;

}
@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.flex {
    display: flex;
}

.padding {
    padding: 20px;
}
body {
    background-color: var(--bodycolor);
}
h1{
     text-shadow: 1px 1px 20px #1143af;
}
h1,
h3,
p,
li
 {
    color: var(--text-color);
    line-height: 2;
}

.gap{
    gap: 30px;
}
.margin{
    margin-left: auto;
}

img{
    height: auto;
  filter: drop-shadow(1px 16px 26px #1eaee880);
width: 500px;

}
footer{
    display: flex;
    justify-content: center;
    font-size: larger;
    
}
 .projects100{
        justify-content: center;
        align-items: center;
        gap: 50PX;
    }
    @media(min-width:1200px){
        .heading2{
            margin-left: auto;
        }
        .image{
            margin-left: auto;
        }
    }
@media(max-width:1200px){
    .flex{
        flex-direction: column;
    }
    .projects100{
        justify-content: center;
        align-items: center;
        
    }
    .image{
            margin-left: auto;
        }
}
@media(max-width:640px){
 img{
    height: auto;
    width: 300px;
  }

}
@media(max-width:336px){
  img{
    height: auto;
    width: 200px;
  }

}
